@{
    ViewBag.Title = "RentACar";
}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body bg-light">
                <div id="loginToggle">Login</div>
                <div id="signupToggle"> Sign up</div>
                <form class="popup-form">
                    <div>
                        <label>E-Mail:</label>
                        <input type="email" /><br />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" /><br />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember Me?</label><br />
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
            <section class="container">
                <div id="div1">
                    <h2 class="text-center">Golf 7</h2>
                    <p><img src="~/img/7.jpg" /></p>
                    <ul class="product-props">
                        <li>Pret: 100RON/zi</li>
                        <li>Motor: Benzina</li>
                        <li>Caroserie: Hatchback </li>
                        <li>Asigurare: 100RON/zi</li>
                    </ul>
                    <button id="buyButton" class="btn btn-success">Alege</button>
                </div>
            </section>
        </div>
    </div>