@{
    ViewBag.Title = "Credit Online";
}
    <div class="row">
        <div class="col-md-6">
            <div id="loginToggle">Login</div>
            <div id="signupToggle"> Sign up</div>
            <form class="popup">
                <label>E-Mail:</label>
                <input type="email" /><br />
                <label>Password:</label>
                <input type="password" /><br />
                <input type="checkbox" />
                <label>Remember Me?</label><br />
                <input type="submit" value="Login">
            </form>
            <section class="container">
                <div id="div1">Ai mai jos un calculator de credite ca să îți faci o simulare cu toate costurile creditului tău</div>
                <p>Daca doriti sa aplicati pentru un credit, completati formularul din pagina de contact</p>
            </section>
        </div>
    </div>